<h1>My Lists</h1>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.esplanade.com/-/media/Esplanade/Images/S-53-Theatre/theatre-03.ashx?rev=da6fdc31e5194c1da0d36d50878486b9&hash=14E7DE2900E048421478198D4CE7D660)">
  <%= @list.name %>
</div>

<h2>List of Movies</h2>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie %>
  <%= f.submit class: "btn btn-outline-primary" %>
  <%= f.button :button, 'Reset', type: :reset %>
<% end %>

<div class="cards d-flex flex-wrap gap-5">
  <% @list.movies.each do |movie| %>
    <div class="card flat-card" style="width: 20rem;">
      <div class="card-body card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= movie.poster_url %>)">
        <%= link_to movie.title, list_movie_path(@list, movie), class: 'text-decoration-none text-white' %>
      </div>
      <div class="card-footer d-flex gap-3 bg-white">
        <%= link_to 'Delete', list_movie_path(@list, movie),
          data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: 'text-danger text-decoration-none'
        %>
      </div>
    </div>
  <% end %>
</div>
