<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>); top: 80px;">
  <div class="container">
    <h1><%= @list.name %> Movies</h1>
  </div>
</div>

<div class="container position-relative w-75 my-5" style="top: 80px;">
  <h1><%= @list.name %> Movies</h1>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie %>
    <%= f.submit class: "btn btn-outline-primary" %>
    <%= f.button :button, 'Reset', type: :reset %>
  <% end %>

  <div class="cards d-flex flex-wrap gap-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card flat-card" style="width: 20rem;">
        <div class="card-body card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>)">
          <%= link_to bookmark.movie.title, list_movie_path(@list, bookmark.movie), class: 'text-decoration-none text-white' %>
        </div>
        <div class="card-footer d-flex gap-3 bg-white">
          <%= link_to 'Delete', list_bookmark_path(@list, bookmark),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: 'text-danger text-decoration-none'
          %>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back', lists_path, class: 'btn btn-primary my-4' %>
</div>