<%= render 'shared/banner', { banner_image_path: (@list.photo.attached? ? (cl_image_path @list.photo.key) : (image_path('film_redux_logo_white'))), banner_text: "#{@list.name} Films" } %>

<div class="container position-relative w-75 my-5 pb-5" style="top: 70px;">

  <% if notice %>
    <div class="alert alert-success d-flex justify-content-between align-items-center">
      <%= notice %>
      <a class="link-secondary cursor-pointer" data-dismiss="notice" onclick="this.parentElement.classList.add('d-none');">
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </a>
    </div>
  <% end %>

  <% if @list.bookmarks.empty? %>
    <h1 class='fs-2'>Add your first movie!</h1>
  <% else %>
    <div class="cards">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card border border-0 rounded-4 shadow m-3" style="width: 350px;" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-offset="200">
          <div class="border border-0 rounded-bottom rounded-4 mb-3" style="background-image: url(<%= bookmark.movie.poster_url %>); background-size: cover; height: 460px;"></div>
          <div class="mx-4 flex-grow-1 mb-3">
            <div class="d-flex gap-1 align-items-center mb-2">
              <%= link_to list_movie_path(@list, bookmark.movie), class: 'text-decoration-none text-dark fs-5 fw-bold' do %>
                <%= bookmark.movie.title %><span class="text-secondary fs-6"> ・ <%= bookmark.movie.rating %> <i class="fa-solid fa-star text-info"></i></span>
              <% end %>
            </div>
            <p class="text-secondary line-clamp"><%= bookmark.movie.overview %></p>
          </div>
          <div class="mx-4 mb-2 d-flex justify-content-between align-items-start gap-3">
            <p class="text-truncate"><i class="fa-solid fa-quote-left fa-xl"></i> <%= bookmark.comment %></p>
            <%= link_to 'delete', bookmark_path(bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: 'text-danger text-decoration-none'
            %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="btn btn-warning fw-bold text-white px-3 mx-3 border border-0 rounded-4" style="cursor: inherit"><i class="fa-solid fa-film"></i> <%= @list.bookmarks.count %> <%= 'movie'.pluralize(@list.bookmarks.count) %></div>
  <%= render 'shared/back_btn', link: lists_path %>

  <div class="container w-50">
    <h2 class="fs-3 my-3 ps-4">Add Movie to List</h2>
    <div class="bg-white p-4 mb-5 border border-muted border-0 rounded-4 shadow-sm">
      <%= render 'bookmarks/form', { list: @list, bookmark: @bookmark, movies: @movies } %>
    </div>
  </div>

  <div class="w-100 border border-bottom border-2 border-muted mb-4"></div>

  <div class="container d-flex">
    <div class="container">
      <h2 class="fs-4 my-3">Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="border-bottom mb-3">
          <p class="mb-0">
            <% review.rating.times do %>
              <i class="fa-solid fa-star text-info"></i>
            <% end %> 
            <% (5 - review.rating).times do %>
              <i class="fa-solid fa-star" style="color: lightgrey"></i>
            <% end %> 
            <span class="text-secondary" style="font-size: 12px"><em><%= time_ago_in_words(review.created_at) %> ago</em></span>
          </p>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
    <div class="container">
      <h2 class="fs-4 my-3 ps-4">Add your review</h2>
      <div class="bg-white p-4 mb-5 border border-muted border-0 rounded-1 shadow-sm">
        <%= render 'reviews/form', { list: @list, review: @review } %>
      </div>
    </div>
  </div>

</div>