<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>); top: 80px;">
  <div class="container text-center">
    <h1 class="fs-1 pb-3"><%= @list.name %> Movies</h1>
  </div>
</div>

<div class="container position-relative w-75 my-5 pb-5" style="top: 80px;">
  <div class="cards d-flex flex-wrap gap-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card flat-card" style="width: 500px;">
        <div class="card-body card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>); height: 200px;"></div>
        <div class="p-3 d-flex flex-column gap-3">
          <div class="d-flex gap-1 align-items-center">
            <%= link_to bookmark.movie.title, list_movie_path(@list, bookmark.movie), class: 'text-decoration-none text-dark fs-5 fw-bold' %>
            <span class="text-secondary"> ・ <%= bookmark.movie.rating %> <i class="fa-solid fa-star" style="color: #FFD43B"></i></span>
          </div>
          <p class="text-secondary"><%= bookmark.movie.overview %></p>
          <div class="d-flex justify-content-between align-items-start mt-3">
            <p class=""><i class="fa-solid fa-quote-left fa-xl"></i> <%= bookmark.comment %></p>
            <%= link_to 'delete', list_bookmark_path(@list, bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: 'text-danger text-decoration-none'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back', lists_path, class: 'btn btn-primary my-4' %>


  <h2 class="fs-3 my-3">Add Movie to List</h2>
  <%= render 'bookmarks/form', { list: @list, bookmark: @bookmark } %>

</div>