<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.image_url %>); top: 80px;">
  <div class="btn btn-warning fw-bold text-white px-3 position-absolute border border-0 rounded-4" style="top: 20px; right: 20px;"><%= @list.bookmarks.count %> <%= 'movie'.pluralize(@list.bookmarks.count) %></div>
  <div class="container text-center">
    <h1 class="fs-1 pb-3"><%= @list.name %> Movies</h1>
  </div>
</div>

<div class="container position-relative w-75 my-5 pb-5" style="top: 80px;">

  <% if notice %>
    <div class="alert alert-success d-flex justify-content-between align-items-center">
      <%= notice %>
      <a class="link-secondary cursor-pointer" data-dismiss="notice" onclick="this.parentElement.classList.add('d-none');">
        <i class="fa-sharp fa-solid fa-xmark"></i>
      </a>
    </div>
  <% end %>

  <div class="cards d-flex flex-wrap gap-5">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card flat-card border border-0 rounded-4 shadow" style="width: 500px;">
        <div class="card-body card-category border border-0 rounded-bottom rounded-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= bookmark.movie.poster_url %>); height: 200px;"></div>
        <div class="p-3 d-flex flex-column gap-3">
          <div class="d-flex gap-1 align-items-center">
            <%= link_to bookmark.movie.title, list_movie_path(@list, bookmark.movie), class: 'text-decoration-none text-dark fs-5 fw-bold' %>
            <span class="text-secondary"> ・ <%= bookmark.movie.rating %> <i class="fa-solid fa-star" style="color: #FFD43B"></i></span>
          </div>
          <p class="text-secondary"><%= bookmark.movie.overview %></p>
          <div class="d-flex justify-content-between align-items-start mt-3">
            <p class=""><i class="fa-solid fa-quote-left fa-xl"></i> <%= bookmark.comment %></p>
            <%= link_to 'delete', bookmark_path(bookmark),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
              class: 'text-danger text-decoration-none'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back', lists_path, class: 'btn btn-primary my-5' %>

  <div class="container w-50">
    <h2 class="fs-3 my-3 ps-4">Add Movie to List</h2>
    <div class="bg-white p-4 mb-5 border border-muted border-0 rounded-4 shadow-sm">
      <%#= render 'bookmarks/form', { list: @list, bookmark: @bookmark, movies: @movies } %>
    </div>
  </div>

  <hr>

  <div class="container d-flex">
    <div class="container my-5">
      <h2 class="fs-4">Reviews</h2>
      <% @reviews.each do |review| %>
        <div class="border-bottom mb-3">
          <p class="mb-0">
            <% review.rating.times do %>
              <i class="fa-solid fa-star" style="color: #FFD43B"></i>
            <% end %> 
            <% (5 - review.rating).times do %>
              <i class="fa-solid fa-star" style="color: lightgrey"></i>
            <% end %> 
            <span class="text-secondary" style="font-size: 12px"><em><%= time_ago_in_words(review.created_at) %> ago</em></span>
          </p>
          <p><%= review.content %></p>
        </div>
      <% end %>
    </div>
    <div class="container">
      <h2 class="fs-4 my-3 ps-4">Add your review</h2>
      <div class="bg-white p-4 mb-5 border border-muted border-0 rounded-4 shadow-sm">
        <%= render 'reviews/form', { list: @list, review: @review } %>
      </div>
    </div>
  </div>

</div>