<div class="banner position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @movie.poster_url %>); top: 80px;">
  <div class="container"></div>
</div>

<div class="container position-relative w-75 my-5" style="top: 80px;">
  <h1><%= @movie.title %></h1>

  <p>Rating: <%= @movie.rating %></p>

  <h2>Overview</h2>
  <p><%= @movie.overview %></p>

  <%= link_to 'Back', list_path(@list), class: 'btn btn-primary my-4' %>
</div>
