<div class="container position-relative w-75 my-5" style="top: 80px;">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @movie.poster_url %>)"></div>

  <h1><%= @movie.title %></h1>

  <p>Rating: <%= @movie.rating %></p>

  <h2>Overview</h2>
  <p><%= @movie.overview %></p>

  <%= link_to 'Back', list_path(@list), class: 'btn btn-primary my-4' %>
</div>
