<div class="banner position-relative"
  style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @list.photo.attached? ? (cl_image_path @list.photo.key) : (image_path('film_redux_logo_white')) %>'); top: 70px;"
>
  <div class="container text-center">
    <h1 class="fs-1 pb-3"><%= @list.name %> Movies</h1>
  </div>
</div>

<div class="container position-relative w-50 my-5 d-flex flex-column align-items-center gap-3" style="top: 80px;">
  <%= image_tag @movie.poster_url, alt: "Poster of #{@movie.title}", height: 500, class: "mb-3" %>
  <h1 class="text-center fs-2"><%= @movie.title %></h1>  
  <p class="fs-5 lh-lg" style="text-align: justify;"><%= @movie.overview %></p>
  <%= render 'shared/back_btn', link: list_path(@list) %>
</div>
