<!DOCTYPE html>
<html>
  <head>
    <title>Movie Watchlist | Film Redux</title>
    <meta content="Create your favourite movie watchlist and get inspiration from others." name="description">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag asset_path('film_redux_logo_white_square.png') %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="position: relative; min-height: calc(100vh - 40px)">
    <%= render 'shared/navbar' %>

    <div class="h-100" style="padding-bottom: 80px;">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
