<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-white border border-bottom-2 px-4">
      <div class="container-fluid d-flex justify-content-between align-items-center">
        <%= image_tag "movie_watch_list_logo.jpg", alt: "My Movie Watch List Logo", width: 50 %>
        <div class="d-flex gap-2">
          <%= link_to 'My Watch List', lists_path, class: 'btn btn-none text-dark' %>
          <%= link_to 'New List', new_list_path, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
